<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="<% settings.charset %>">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>ANTournament</title>
  <link rel="stylesheet" href="[% request.uri_base %]/css/bootstrap.min.css">
  <link rel="stylesheet" href="[% request.uri_base %]/css/bootstrap-theme.min.css">
<!--  <link rel="stylesheet" href="<% request.uri_base %>/css/style.css"> -->
</head>
<body>
[% content %]
<div id="footer">
Powered by <a href="http://perldancer.org/">Dancer2</a> [% dancer_version %]
</div>
<!-- Grab jQuery from a CDN, fall back to local if necessary -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="[% request.uri_base %]/javascripts/jquery.js"><\/script>')
/* ]]> */</script>
<script src="[% request.uri_base %]/javascripts/bootstrap.min.js"></script>
</body>
</html>
