<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="<% settings.charset %>">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>ANTournament</title>
  <link rel="stylesheet" href="[% request.uri_base %]/css/bootstrap.min.css">
  <link rel="stylesheet" href="[% request.uri_base %]/css/bootstrap-theme.min.css">
<!--  <link rel="stylesheet" href="<% request.uri_base %>/css/style.css"> -->
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ANTournamet</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/Pairings">Pairings</a></li>
            <li><a href="/Players">Players</a></li>
            <li><a href="/Rankings">Rankings</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stats<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Faction / Identities, top</a></li>
                <li><a href="#">Faction / Identities, all</a></li>
                <li><a href="#">Win Type, top</a></li>
                <li><a href="#">Win Type, all</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
[% content %]
<div id="footer">
Powered by <a href="http://perldancer.org/">Dancer2</a> [% dancer_version %]
</div>
<!-- Grab jQuery from a CDN, fall back to local if necessary -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="[% request.uri_base %]/javascripts/jquery.js"><\/script>')
/* ]]> */</script>
<script src="[% request.uri_base %]/javascripts/bootstrap.min.js"></script>
</body>
</html>
